<div class="modalContent" id="modalPopup">
    <button class="close">✖</button>
    <img src="https://cdn-icons-png.flaticon.com/512/1047/1047711.png" alt="cookies-img" />
    <p>Bạn có chắc chắn để tiếp tục?</p>
    <button class="accept">Chấp nhận</button>
</div>
